tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  background-color: rgba(95, 96, 171, 0.5);
}
/* Click */
.table tbody .active {
  border: 3px solid orange;
  background-color: rgba(95, 96, 171, 0.5);
}

.modal {
  width: 50%;
  height: 40%;
  background: rgb(253, 253, 253);
  top: 10%;
  left: 25%;
  border-radius: 15px;
  border: 1px solid black;
}

.form-signin {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.message {
  display: block;
  font-size: 18px;
}
